<div class="container-fluid">
    <h2 class="header">Recent Projects</h2>
    <div class="row project-row">
        <div class="col project-img">proj</div>
        <div class="col ">
            <h3>Project Name</h3>
            <div>Description Description DescriptionDescription Description Description Description Description Description Description Description Description Description Description Description Description Description Description  Description Description Description Description Description Description Description </div>
        </div>
    </div>
    <div class="row project-row">
        <div class="col project-img">proj</div>
        <div class="col ">
            <h3>Project Name</h3>
            <div>Description Description DescriptionDescription Description Description Description Description Description Description Description Description Description Description Description Description Description Description  Description Description Description Description Description Description Description </div>
        </div>
    </div>
    <div class="row project-row">
        <div class="col project-img">proj</div>
        <div class="col ">
            <h3>Project Name</h3>
            <div>Description Description DescriptionDescription Description Description Description Description Description Description Description Description Description Description Description Description Description Description  Description Description Description Description Description Description Description </div>
        </div>
    </div>
</div>

<style>
    .project-row {
        border: 2px solid var(--text-color);
        border-radius: 10px;
        padding: 20px;
        width: 70%;
        margin: auto;
        margin-top: 15px;
    }

    .header {
        text-align: center;
        margin: 50px 0px;
    }

</style>